header {
  background-color: #0089f3;
  background-image: url('../img/hero-bottom.png');
  background-position: center bottom;
  min-height: 750px;
  background-repeat: no-repeat;
}

#frm {
  border-radius: 15px;
}

#frmHeader {
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
  background-color: #f1f0f6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#frmBody {
  padding: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

form input.error,
form password.error {
  border-color: red !important;
  background-color: #ffd1d1;
}


